---
layout: portfolio.njk
name: Satwik Kambham
greeting: Hey there! I'm Satwik Kambham.
introduction:  I'm on an exhilarating journey in the world of deep learning, passionately exploring the potential of AI models to redefine the boundaries of what's possible with data.
projects:
    - title: Underwater Scene Segmentation
      description: Underwater Scene Segmentation with the Segformer architecture on the SUIM dataset. The project focuses on semantic segmentation of underwater imagery. The Segformer model demonstrates effective performance in delineating underwater scenes, making it a practical choice for underwater image analysis.
      image: Underwater-Segmentation.png
      link: https://huggingface.co/spaces/SatwikKambham/Underwater-Scene-Segmentation
    - title: Low Light Object Detection
      description: Low-Light Object Detection using DETR on the ExDARK dataset. The model, trained on 10 different low-light conditions, efficiently detects 12 object classes. The model was able to achieve state of the art results even in extreme low-light conditions by leveraging preprocessing techniques like CLAHE and Histogram Equalization.
      image: Low-Light-Detection.png
      link: https://huggingface.co/spaces/SatwikKambham/Low-Light-Object-Detection
    - title: Land Use Classifier
      description: Image Classification on the UC Merced Land Use Dataset. The model was trained using various CNN architectures and the most efficient model (ResNet-18) was deployed on HuggingFace Spaces. The model achieved an accuracy of 98.5% on the test set.
      image: Land-Use.png
      link: https://huggingface.co/spaces/SatwikKambham/Land-Use-Classifier
experience:
    - title: Google Summer of Code
      company: TARDIS
      date: June 2022 – Sept 2022
      description:
      - Developed an API to efficiently store simulation data into HDF files. 
      - Built data classes to improve monte carlo simulation pipeline. 
      - Performed unit testing and validation testing. 
      - Collaborated with the team to ensure code quality.
      image: GSoC.png
      link: https://summerofcode.withgoogle.com/programs/2022/projects/RD6PU1xK
---

