---
layout: portfolio.njk
name: Satwik Kambham
greeting: Hey there! I'm Satwik Kambham.
introduction: Lorem ipsum dolor sit amet, consectetur adi piscing el it. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.
projects:
    - title: Project 1
      description: Lorem ipsum dolor sit amet, consectetur adi piscing el it. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.
      image: image.png
      link: #
    - title: Project 2
      description: Lorem ipsum dolor sit amet, consectetur adi piscing el it. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.
      image: image.png
      link: #
experience:
    - title: Google Summer of Code
      company: TARDIS
      date: June 2022 – Sept 2022
      description:
      - Developed an API to efficiently store simulation data into HDF files. 
      - Built data classes to improve monte carlo simulation pipeline. 
      - Performed unit testing and validation testing. 
      - Collaborated with the team to ensure code quality.
      image: GSoC.png
      link: https://summerofcode.withgoogle.com/programs/2022/projects/RD6PU1xK
---

