---
layout: base.njk
---

<div class="p-6 md:max-w-3xl md:mx-auto lg:max-w-4xl">
    <article class="prose lg:prose-lg md:max-w-none prose-stone dark:prose-invert prose-img:rounded-lg prose-img:max-w-full shadow-2xl
            p-8 bg-paper-secondary-light dark:bg-stone-800 rounded-2xl">
        <img class="w-full" src="/images/{{ cover }}" alt="{{ title }}">
        <h1 class="text-4xl">{{ title }}</h1>
        {{ content | safe }}
    </article>
</div>
